[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
	branch = master
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
	branch = master
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
	branch = master
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
	branch = master
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/fuzzyfinder.git
	branch = master
    ignore = dirty
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
	branch = master
    ignore = dirty
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
	branch = master
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "vim/bundle/tmux.vim"]
	path = vim/bundle/tmux.vim
	url = https://github.com/ericpruitt/tmux.vim.git
	branch = master
[submodule "vim/bundle/vim-syntax-extra"]
	path = vim/bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "vim/bundle/vim-tmux"]
	path = vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
	branch = master
[submodule "bash/bash-git-prompt"]
	path = bash/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
	branch = master
[submodule "vim/bundle/nginx.vim"]
	path = vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
	branch = master
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
	branch = master
[submodule "vim/bundle/vim-dirdiff"]
	path = vim/bundle/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
	branch = master
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	branch = master
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
